<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Email Terverifikasi | Syaamil Bundle Apps</title>
  </head>
  <body>
    <h1>Selamat!</h1>
    <h2>Anda berhasil terdaftar sebagai member Syaamil Bundle Apps</h2>
    <h3>Sekarang anda sudah dapat login dengan memasukkan data akun yang sudah anda daftarkan</h3>
  </body>
</html>
